absl-py==1.4.0
altgraph==0.17
anyio==3.6.2
appdirs==1.4.4
asgiref==3.6.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
autobahn==20.12.3
Automat==20.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
cachetools==5.2.1
certifi==2021.10.8
cffi==1.14.4
cfgv==3.3.1
cftime==1.6.2
charset-normalizer==2.0.12
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.5
constantly==15.1.0
contourpy==1.0.7
cryptography==3.3.1
cycler==0.11.0
Cython==0.29.25
defusedxml==0.7.1
distlib==0.3.1
dj-database-url==1.3.0
Django==4.2
django-allauth==0.50.0
django-appconf==1.0.5
django-cors-headers==3.11.0
django-crispy-forms==1.13.0
django-responsive2==0.1.3
django-storages==1.12.3
dnspython==2.0.0
filelock==3.0.12
Flask==1.1.2
flatbuffers==23.1.4
fonttools==4.38.0
future==0.18.2
gast==0.4.0
glfw==2.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
gunicorn==20.1.0
gym==0.21.0
h11==0.14.0
h5py==3.7.0
httpcore==0.16.3
httpx==0.23.3
hyperlink==21.0.0
identify==2.5.5
idna==3.1
imageio==2.13.3
importlib-metadata==6.0.0
importlib-resources==5.4.0
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
keras==2.11.0
kiwisolver==1.4.4
libclang==15.0.6.1
lockfile==0.12.2
Markdown==3.4.1
MarkupSafe==1.1.1
matplotlib==3.6.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
netCDF4==1.6.2
nodeenv==1.7.0
numpy==1.24.1
oauthlib==3.2.0
opencv-python==4.5.4.60
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.2
pefile==2019.4.18
Pillow==8.4.0
pluggy==1.0.0
pre-commit==2.20.0
protobuf==3.19.6
psycopg2==2.9.5
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.12.0
pyglet==1.5.21
PyHamcrest==2.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
PyJWT==2.3.0
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==3.0.9
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqtdeploy==3.0.0
PySide2==5.15.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-telegram-bot==20.0
python3-openid==3.2.0
pytz==2020.4
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
resolver==0.2.1
rfc3986==1.5.0
rsa==4.9
scipy==1.7.3
seaborn==0.12.2
service-identity==18.1.0
shiboken2==5.15.0
six==1.15.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.1
tabulate==0.8.7
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.2.0
toml==0.10.1
tomli==2.0.1
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
tox==3.26.0
txaio==20.12.1
typing-extensions==4.0.1
tzdata==2023.3
urllib3==1.26.9
virtualenv==20.2.2
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.1
wrapt==1.14.1
zipp==3.6.0
zope.interface==5.2.0
