*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0, 13, 54, 0.904)), url(./images/bg.jpg);
  height: calc(100vh - 4rem);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

h2{
  color: rgb(138, 138, 138);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

h1{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

p{
  color: rgb(170, 170, 170);
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 30px;
  opacity: 0.8;
  width: 80vw;
}

span{
  font-weight: bold;
  color: rgb(224, 224, 224);
}

.btn{
  text-decoration: none;
  color: rgb(224, 224, 224);
  background: rgb(0, 60, 138);
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  width:50vw;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
}

.btn:hover{
  opacity: 0.8;
}

.explore-btn{
  background: rgb(224, 224, 224);
  color: rgb(0, 38, 87);
}

.margin{
  width: 250px;
  height: 1px;
  background: rgb(97, 97, 97);
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.globe{
  display: none;
}

.info{
  margin-bottom: 30px;
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
};

.info{
  width: 30px;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: rgb(1, 22, 49);
}

.nav-center{
  width: 90vw;
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link{
  text-decoration: none;
  color: rgb(224, 224, 224);
  margin-left: 20px;
}

.nav-logo{
  color: rgb(216, 216, 216);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-logo span{
  color: rgb(0, 77, 179);
}


@media screen and (min-width:992px) {
  .globe{
      display: block;
      width: 100%;
      max-width: 800px;
  }

  .content{
      flex-direction: row;
      justify-content: space-between;
  }

  .info{
      display: flex;
      align-items: flex-start;
      text-align: left;
      flex-direction: column;
      margin-bottom: 200px;
  }

  .margin{
      margin-left: 0;
  }

  p{
      width: 29vw;
  }

  .content{
      margin-top: 70px;

  
  }

  .buttons{
      display: flex;
      align-items: center;
      
  }

  .btn{
      margin-top: 0;
      margin-right: 20px;
      width: 140px;
  }

  h2{
      font-size: 1rem;
  }

  h1{
      font-size: 4rem;
  }
}
